@font-face{
	font-family: "Transformers";
	src: url(../Fonts/Transformers.ttf) format("truetype");
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;	
}

h1{
	text-shadow:3px 3px 3px #C0C0C0;
	font-family: 'Transformers','Orbitron', sans-serif;
}

h3{
	text-shadow:2px 2px 2px #C0C0C0;
	font-family: 'Coda', cursive;
}

button{
	font-family: 'Coda', cursive;
}


#content{	
	margin: 15% auto 20% auto;
	text-align: center;
	height: 100%;
}

.container{
	background: rgba(232,232,232,0.8);
	height: 100%;
}

#btndiv{
	margin-top:5%;
}

#logindiv{
	text-align: left;
	display: none;
}

a, #logindiv, input{
	font-family: 'Coda', cursive;
}
