html, body, #page0, #page1, #page2, #page3, #page4, #page5, #page6, #site {height:100%;width:100%}

body{
	padding-top: 40px;
	margin: 0;
	overflow-x:hidden;
	background-color: #E8E8E8;
	color: black;
}

@font-face{
	font-family: "Transformers";
	src: url(../Fonts/Transformers.ttf) format("truetype");
}

div canvas{
	cursor:crosshair;
	position:fixed;
	top: 0;
	z-index:0;
}


a{
	color: black;
	text-decoration: none;
}
	
a:hover{
	text-decoration: none;
	color: #3399CC;
	font-weight:bold;
}

#navdiv{
	padding-left: 2%;
	background-color: #E8E8E8;
	-webkit-box-shadow:2px 0px 6px #000;
	-moz-box-shadow:2px 0px 6px #000;
	background: transparent;
	font-family: 'Coda', cursive;
}

#navdiv:hover, #navdiv.hover{
	background: rgba(232,232,232,0.8);
}

.header{
	position: relative;	
	background-size: cover;
	width: 100%;
	height: 350px;
	padding: 2% 15% 0 15%;
	text-shadow:1px 1px 1px #ffffff;
	font-family: 'Transformers','Orbitron', sans-serif;
	margin-bottom: 40px;
}

#homeheader{
	background:url(../image/homeheader.jpg) no-repeat center top;
}

#blogheader{
	background:url(../image/blogheader.jpg) no-repeat center top;
}

#projectheader{
	background:url(../image/projectheader.jpg) no-repeat center top;
}

#ebookheader{
	background:url(../image/ebookheader.jpg) no-repeat center top;
}

#videoheader{
	background:url(../image/videoheader.jpg) no-repeat center top;
}

#musicheader{
	background:url(../image/musicheader.jpg) no-repeat center top;
}

#logheader{
	background:url(../image/logheader.jpg) no-repeat center top;
}

.subdiv{
	position: relative;
	text-align: left;						
	border:2px grey solid;
	-webkit-box-shadow:2px 2px 6px #000;
	-moz-box-shadow:2px 2px 6px #000;
	padding: 10px 20px;
	font: 14px;
	font-family: arial;
	border-radius: 5px;
	margin-bottom: 60px;
	background-color: white;
	z-index: 2;
}

.subdiv:hover,.subdiv.hover {
   border:2px solid black;
}

#infolist{	
	Padding-top:20px;					
}

.divtitle{
	font: bold 14px;
	font-family: 'Roboto Condensed', consolas;
	color: #04C;
}

#visitorcountdiv{
	padding-bottom: 20px;
}

#clustrmaps-widget{
	margin:auto auto;
}

.next{	
	text-align: center;
	line-height: 50px;	
	height: 70px;
	width: 80px;
    position:absolute;
    top:50%;	
	right:5%;	
	border-radius: 5px;	
	background: transparent;
}


.prev{	
	text-align: center;
	line-height: 50px;	
	height: 70px;
	width: 80px;
    position:absolute;
    top:50%;	
	left:5%;	
	border-radius: 5px;	
	background: transparent;
}

.next:hover, .prev:hover, #navdiv.hover{
	background: rgba(232,232,232,0.5);
	-webkit-box-shadow:2px 2px 6px #000;
	-moz-box-shadow:2px 2px 6px #000;
}

.next a:hover, .prev a:hover{
	color: grey;
	text-shadow:1px 1px 1px #ffffff;
}

.container-fluid{
	margin-right: auto;
	margin-left: auto;
	max-width: 1000px;
}

.navbar-form{
	margin-right: 5%;
}

.navbar-form input{
	font-family: 'Coda', cursive;
}

#searchbtn{
	font-family: 'Coda', cursive;
} 

@font-face{
	font-family: "Transformers";
	src: url(../Fonts/Transformers.ttf) format("truetype");
}
